<!--<h2>{{show.name}}</h2>-->
<div class="poster">
  <a [routerLink]="'/' + show?.id">
    <img *ngIf="show?.imageUrl; else noPoster;" [src]="show?.imageUrl" [alt]="show?.title">
  </a>
  <ng-template #noPoster>
    <a [routerLink]="'/' + show?.id" class="no-poster">
      No Poster
    </a>
  </ng-template>
</div>
<div class="info">
  <h2>
    <a [routerLink]="'/' + show?.id">{{show?.title}}</a>
  </h2>
  <p>Season: {{show?.season}}</p>
  <p>Summary: {{show?.summary}}</p>
  <p>Air time: {{show?.airstamp | date: 'HH:mm'}}</p>
</div>
