<app-card>
  <div class="show-item-content">
    <app-show-poster [show]="show"></app-show-poster>
    <!--<div class="poster">
      <a *ngIf="show?.image?.medium; else noPoster;"
         [routerLink]="'/details/' + show?.id">
        <img [src]="show?.image?.medium" [alt]="'Poster of ' + show?.name">
      </a>
      <ng-template #noPoster>
        <a [routerLink]="'/details/' + show?.id" class="no-poster">
          Sorry, there is no poster to show
        </a>
      </ng-template>
    </div>-->
    <div class="info">
      <h2>
        <a [routerLink]="'/details/' + show?.id">{{show?.name}}</a>
      </h2>
      <p>Season: {{show?.season}}</p>
      <p>Air time: {{show?.airstamp | date: 'HH:mm'}}</p>
      <div class="summary" [innerHTML]="summary"></div>
    </div>
  </div>
  <div class="background" *ngIf="show?.image?.medium">
    <img [src]="show?.image?.medium" [alt]="'Poster of ' + show?.name">
  </div>
</app-card>
