<ng-container *ngIf="formGroup"
              [formGroup]="formGroup">
  <div>
    <strong class="label">Date:</strong>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput
             formControlName="date"
             [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="genres">
    <strong class="label">Genres:</strong>

    <ul class="genres-list">
      <li class="genres-list-item">
        <mat-checkbox class="example-margin"
                      [checked]="allGenresChecked"
                      [indeterminate]="someSelected()"
                      (change)="setAll($event.checked)">
          All
        </mat-checkbox>
      </li>
      <ng-container formGroupName="genres">
        <li *ngFor="let genre of genres; let i = index"
            class="genres-list-item">
          <mat-checkbox [formControlName]="i">
            {{genre}}
          </mat-checkbox>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-container>
